@model adodotnet.Models.StudentDB
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />

    <title>Students</title>
</head>
<body>
    <div class="container-fluid">
        <h2>Update Student Data</h2>
        <hr />
        @using (Html.BeginForm("Edit", "CURD", FormMethod.Post))

        {
            @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="row">
            <!-- begin col-8 -->
            <div class="col-md-4">
                <div class="form-group row m-b-15">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "col-md-4 col-sm-4 col-form-label" })
                    <div class="col-md-6 col-sm-6">
                        @Html.TextBoxFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name,  "  The Name field is required  ", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row m-b-15">
                    @Html.LabelFor(model => model.Age, htmlAttributes: new { @class = "col-md-4 col-sm-4 col-form-label" })

                    <div class="col-md-6 col-sm-6">
                        @Html.TextBoxFor(model => model.Age, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Age, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row m-b-15">


                    @Html.LabelFor(model => model.BirthDate, htmlAttributes: new { @class = "col-md-4 col-sm-4 col-form-label" })


                    <div class="col-md-6 col-sm-6">
                        @Html.TextBoxFor(model => model.BirthDate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.BirthDate, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row m-b-15">
                    @Html.LabelFor(model => model.Subject, htmlAttributes: new { @class = "col-md-4 col-sm-4 col-form-label" })
                    <div class="col-md-6 col-sm-6">
                        @Html.DropDownListFor(m => m.Subject, new List<SelectListItem>
                { new SelectListItem{Text="C#", Value="C#"},
                  new SelectListItem{Text="Java", Value="Java"},
                           new SelectListItem{Text="Python", Value="Python"},
                           new SelectListItem{Text="JavaScript", Value="JavaScript"},
                            new SelectListItem{Text="Ruby", Value="Ruby"},
                            new SelectListItem{Text="DBMS", Value="DBMS"}}, "PLEASE SELECT SUBJECT", new { @class = "form - control" })
                        @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" align="center">
                    <div class="col-md-12">
                        <input type="submit" value="Update" class="btn btn-primary" />
                        <div><h3>@ViewBag.Message</h3></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
                    }
                

                </div>

                <script src="~/Scripts/jquery-3.3.1.js"></script>
                <script src="~/Scripts/jquery.validate.js"></script>
                <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

                <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
                <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
                <script>
            $(function () {
                $("#emp_birthdate").datepicker({
                    changeMonth: true,
                    changeYear: true,
                    dateFormat: 'dd-mm-yy'

                });
            });

                </script>
    </body>
</html>

